/*********************************
* ! Style rules for defult section
**********************************/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
}
body{

    display: grid;
    place-content: center;
}
/*********************************
* ! Style rules for common componant section
**********************************/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    width: 300px;
    height: 300px;
    transition: .5s;

     
}
.fruit-parent{
    display: flex;
    gap: 20px;
}
.fruit-card{
    margin-top: 200px;
    width:250px ;
    height: 300px;
     box-shadow: 5px 5px 20px gray;
    position: relative;
    cursor: pointer;
    overflow: hidden;
     
}
.intro{
    padding: 0 20px;
    height: 50px;
   bottom: 0;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.581);
    transition: .5s;
    color: #fff;
}
.fruit-card:hover .intro{
    height: 150px;
    background-color:rgba(0, 0, 0, 0.779);
    bottom: 0px;
     
}
h2{
    font-size: 30px;
    text-transform: capitalize;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro p{
   opacity: 0;
   visibility: hidden;
}
.fruit-card:hover p{
    opacity: 1;
     visibility: visible;
    

}
.fruit-card:hover img{
    transform: scale(1.1) rotate(-5deg);
}

/*********************************
* ! Style rules for navber section
**********************************/


/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/
/*********************************
* ! Style rules for..  section
**********************************/